@(message: String, form1:Form[Application.InputForm], resultUrls:List[com.grachro.sitemap.LoadedSite])

@main("SitemapCreator") {
	<h1>SitemapCreator</h1>

	<div style="border: solid 1px black;">
	@helper.form(action = routes.Application.load) {
		@(helper.inputText (
			field = form1("url")
		))
		@(helper.select(
			field = form1("deep"),
			options = Seq("0" ->"0", "1"->"1", "2" ->"2", "3" ->"3" )
		))
		<input type="submit" value="load">
	}
	</div>

	<p>@message</p>
	
	@helper.form(action = routes.Application.downloadTsv) {
		<input type="submit" value="download TSV">
	}
	
	@helper.form(action = routes.Application.downloadSitemap) {
		<input type="submit" value="download sitemap.xml">
	}
}
